[project]
	description = dubbo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jdktomcat
[access "refs/for/refs/*"]
	read = group user/jdktomcat
	push = group user/jdktomcat
	label-Code-Review = -2..+2 group user/jdktomcat
	label-Verified = -1..+1 group user/jdktomcat
	rebase = group user/jdktomcat
	removeReviewer = group user/jdktomcat
	submit = group user/jdktomcat
[access "refs/heads/*"]
	read = group user/jdktomcat
	create = group user/jdktomcat
	push = +force group user/jdktomcat
	pushMerge = group user/jdktomcat
[access "refs/tags/*"]
	push = group user/jdktomcat
	push = +force group user/jdktomcat
